
body,
html 
{
  width: 100%;
  height: 100%; 
}

body 
{
  font-family: 'Noto Sans', sans-serif;
}

hr 
{
  max-width: 35px;
  border-width: 2px;
  border-color: #535353; 
}

hr.contact_h
{
  border-color:#FFFFFF;
}

p.contact_p
{
  margin-top:8%;
}

#map 
 {
  margin: 0;
  height: 400px;
  width: 100%;
 }

#mainNav 
{
  border-bottom: 1px solid rgba(53, 53, 53, 0.1);
  background-color: #fff;
  font-family: 'Noto Sans', sans-serif;
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  transition: all 0.2s; 
}
  #mainNav .navbar-brand 
  {
    font-weight: 700;
    text-transform: uppercase;
    color: #353535;
    font-family: 'Noto Sans', sans-serif;
}
    #mainNav .navbar-brand:focus, #mainNav .navbar-brand:hover 
    {
      color: #000000; 
    }
  #mainNav .navbar-nav > li.nav-item > a.nav-link,
  #mainNav .navbar-nav > li.nav-item > a.nav-link:focus 
  {
    font-size: .9rem;
    font-weight: 700;
    text-transform: uppercase;
    color: #000000; 
}
    #mainNav .navbar-nav > li.nav-item > a.nav-link:hover,
    #mainNav .navbar-nav > li.nav-item > a.nav-link:focus:hover 
    {
      color: #000000; 
    }
    #mainNav .navbar-nav > li.nav-item > a.nav-link.active,
    #mainNav .navbar-nav > li.nav-item > a.nav-link:focus.active 
    {
      color: #000000 !important;
      background-color: transparent; 
    }
      #mainNav .navbar-nav > li.nav-item > a.nav-link.active:hover,
      #mainNav .navbar-nav > li.nav-item > a.nav-link:focus.active:hover 
      {
        background-color: transparent; 
    }

  @media (min-width: 992px) 
  {
    #mainNav 
    {
      border-color: transparent;
      background-color: transparent; 
    }
      #mainNav .navbar-brand 
      {
        /* 네브바 상단 이름 */
        color: rgba(53, 53, 53, 0.7); 
    }
        #mainNav .navbar-brand:focus, #mainNav .navbar-brand:hover 
        {
            /* 네브바 focus */
          color: #000000; 
        }
      #mainNav .navbar-nav > li.nav-item > a.nav-link 
      {
        padding: 0.5rem 1rem; 
    }
      #mainNav .navbar-nav > li.nav-item > a.nav-link,
      #mainNav .navbar-nav > li.nav-item > a.nav-link:focus 
      {
        color: rgba(53, 53, 53, 0.7); 
      }
        #mainNav .navbar-nav > li.nav-item > a.nav-link:hover,
        #mainNav .navbar-nav > li.nav-item > a.nav-link:focus:hover 
        {
          color: #353535; 
        }
      #mainNav.navbar-shrink 
      {
        border-bottom: 1px solid rgba(53, 53, 53, 0.7); 
        background-color: #fff; 
      }
        #mainNav.navbar-shrink .navbar-brand 
        {
          color: #353535; 
        }
          #mainNav.navbar-shrink .navbar-brand:focus, #mainNav.navbar-shrink .navbar-brand:hover 
          {
            color: #000000; 
        }
        #mainNav.navbar-shrink .navbar-nav > li.nav-item > a.nav-link,
        #mainNav.navbar-shrink .navbar-nav > li.nav-item > a.nav-link:focus 
        {
          color: #212529; 
        }
          #mainNav.navbar-shrink .navbar-nav > li.nav-item > a.nav-link:hover,
          #mainNav.navbar-shrink .navbar-nav > li.nav-item > a.nav-link:focus:hover 
          {
            color: #000000; 
        } 
    }  /* end of @media */

    header.masthead 
    {
        padding-top: 10rem;
        padding-bottom: calc(10rem - 56px);
        /* background-image: linear-gradient(to top, #37ecba 0%, #72afd3 100%); */
        background-image:url("../img/mss_header_bg.jpg");
        background-position: center center;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover; 
      
    }
      
    #D_BTN
    {
      margin-top: 100%;
      border-radius: 50%;
      border: 2px solid rgba(53, 53, 53, 0.5);
      color : rgba(53, 53, 53, 0.5);
    }
    
    #D_BTN:hover
    {
      border: 2px solid black;
      color : black;
    }
 
#ABOUT
{
   margin-left:25%;
} 

h2.about-heading
{
    margin-top:5%;
    margin-right:30%;
}

.portfolio-heading
 {
   margin-top: 3%;
   color:#535353;
   text-align: center;
 }

 .portfolio-bg
 {
   background: #FFFFFF;
 }

 .about-bg
 {
   background: #FFFFFF;
 }

 .contact-bg
 {
   color:#FFFFFF;
   background: radial-gradient(circle 248px at center, #16d9e3 0%, #30c7ec 47%, #46aef7 100%);
   /* margin-bottom:10%; */
 }



 .space1
 {
   margin-bottom: 5%;
 }

 .space2
 {
   margin-bottom: 20%;
 }

.intro-bg
{
  margin-top:5%;
  color:#FFFFFF;
  background: #FFFFFF;
  background-image: url("../img/intro_bg.jpg");
  width: 100%;
  height:40%;
  background-position: center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover; 
}

.footer-bg
{
  color:#FFFFFF;
  background-image: url("../img/intro_bg.jpg");
  background-position: center left;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover; 

}


.about-box 
{
    position: relative;
    display: block;
    max-width: 650px;
    /* margin: 0 auto;  */
    margin : 10%;
    
    
}
    .about-box .about-box-caption 
    {
      position: absolute;
      bottom: 0;
      display: block;
      width: 100%;
      height: 100%;
      text-align: center;
      opacity: 0;
      color: #fff;
      background: rgba(0, 0, 0, 0.9);
      font-family: 'Noto Sans', sans-serif;
      -webkit-transition: all 0.2s;
      -moz-transition: all 0.2s;
      transition: all 0.2s; 
    }

      .about-box .about-box-caption .about-box-caption-content 
      {
        position: absolute;
        top: 50%;
        width: 100%;
        transform: translateY(-50%);
        text-align: center; 
      }
        .about-box .about-box-caption .about-box-caption-content .project-category,
        .about-box .about-box-caption .about-box-caption-content .project-name 
        {
          padding: 0 15px;
          font-family: 'Open Sans', 'Helvetica Neue', Arial, sans-serif; 
        }
        .about-box .about-box-caption .about-box-caption-content .project-category 
        {
          font-size: 14px;
          font-weight: 600;
          text-transform: uppercase; 
        }
        .about-box .about-box-caption .about-box-caption-content .project-name 
        {
          font-size: 18px; 
        }
    .about-box:hover .about-box-caption 
    {
      opacity: 1; 
    }
    .about-box:focus 
    {
      outline: none; 
    }
    @media (min-width: 768px) 
    {
      .about-box .about-box-caption .about-box-caption-content .project-category 
      {
        font-size: 16px; 
      }
      .about-box .about-box-caption .about-box-caption-content .project-name 
      {
        font-size: 22px; 
      } 
    }


       
